<!-- <app-menu></app-menu> -->
<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<app-body>
[collapsed]="isSideNavCollapsed"
[screenWidth]="screenWidth"

</app-body>

<div class="contenedor">

<input type="file" style="display:none" #cargador>
<button (click)="cargador.click()">cargar archivo</button>
<!-- aqui se esta creando una variable de referenciad e plantilla -->


<h2>En cines</h2>
<app-listado-peliculas [peliculas]="peliculasEnCines"></app-listado-peliculas>
<!-- la proyeccion de contenido sirve para pasarle mas cosas al componente como div, formulario, etc -->
<!-- <p>HOLA MUNDO</p>
<div>{{title}}</div>


<div>la suma de 2 y 2 es {{ 2 + 2}}</div>
<div>el doble de 3 es {{duplicarnumero(3)}}</div> -->

<h2>Futuros estrenos</h2>
<app-listado-peliculas [peliculas]="peliculasProximosEstrenos"></app-listado-peliculas>

</div>

